h1 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.todo {
  text-align: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 0 0 0 0;
}

.todo__ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  margin: 0 0 3rem 0;
}

.todo__li {
  display: flex;
  align-items: center;
  height: 2rem;
  gap: 1rem;
}

.todo__li-p {
  flex-grow: 1;
  text-align: left;
}

.statusfilter__ul ,.colorsfilter_ul, .actions__ul{
  display: flex;
  flex-direction: column;
}

.statusfilter__li, .colorsfilter_li, .actions__li {
  list-style-type: none;
  text-align: left;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: small;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.5s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  display: flex;
  justify-content: center;
  margin: 0px;
  /* justify-content: space-between; */
  /* gap: 1rem; */
}

footer h3{
  text-align: center;
}